* {
    .pag1-adm{
        height: 90vh;
        margin-left: 1.5em;
        margin-top: 2em;
        
    }
    .PedRecentes{
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: aquamarine;
        width: 71em;
        height: 37em;
        margin-left: 10em;
        

        position: relative;
        bottom: 37em;

    }

    .Bem-Vindo{
        margin-right: 26em;
        margin-bottom: 2em;
        
    }
}