.produto-carrinho{
    display: flex;
    flex-direction: row;
}

.img-carrinho-prod{
    width: 100px;
    height: 100px;
    border: 1px solid #5E5E5E;
    border-radius: 5px;
}

.infos-prod-carrinho{
    display: flex;
    flex-direction: column;
}