.cab{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #521FAF;
       
}

.logo{
    height: 13vh;
    width: 14vh;

}

.menuCab{
    height: 25px;
    width: 25px;
}

.icons{
    height: 24px;
    width: 28px;
}

.busca{
    width: 35em;
    height: 2em;
}

.menuzinho {
    display: flex;
    justify-content: row;
}
.linha{
    height: 6px;
    background: linear-gradient(270deg, #FF2B5E 35.42%, #521FAF 50.83%, #2BFFBF 64.58%);
}